.gamearea {
    display: flex;
    justify-content: space-around;
    padding: 25px;

}


.hands {
    border-color: red;
    padding: 25px;
}

#rock {
    background-color: red;
}

#scoreboard {
    display: flex;
    justify-content: center;
}

#playerscore {
    padding: 25px;
}

#computerscore {
    padding: 25px;
}

#paper {
    background-color: blue;
}

#scissors {
    background-color: green;
}

#roundresult {
    background-color: khaki;
    height: 200px;
    justify-content: flex-start;
}

#roundlog {
    background-color: grey;
    height: auto;
    height: 400px;

}